@font-face {
    font-family: 'Explorer';
    src: local('Explorer Sans Regular'), local('Explorer-Sans-Regular'),
        url('ExplorerSans-Regular.woff2') format('woff2'),
        url('ExplorerSans-Regular.woff') format('woff'),
        url('ExplorerSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Room-Black';
    src: url('Room-Black.woff2') format('woff2'),
         url('Room-Black.woff') format('woff'),
         url('Room-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}